.record-form {
    display: flex;
    flex-direction: column;
    gap: 36px;

    .p-component {
        min-width: 300px;
        &.p-checkbox, &.p-radiobutton, &.p-button {
            min-width: unset;
        }
    }
}
