@import "../../../styles/sizes.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/mixins.scss";

.btn {
    @include noSelect;

    font-size: 16px;
    padding: 10px;
    background-color: white;
    border: 1px solid white;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;

    &.small {
        font-size: 14px;
        padding: 8px;
    }
    &.large {
        font-size: 20px;
        padding: 12px;
    }
    &.huge {
        font-size: 24px;
        padding: 14px;
    }

    &:not(.unhover):hover {
        background-color: #bbb;
        border-color: #bbb;
    }

    &.primary {
        background-color: $blue;
        border-color: $blue;
        color: white;

        &:not(.unhover):hover {
            background-color: adjust-hue($color: $blue, $degrees: -30);
            border-color: adjust-hue($color: $blue, $degrees: -30);
        }

    }

    &.disabled {
        cursor: not-allowed;
        color: white;
        background-color: rgb(126, 126, 126);
        border-color: rgb(126, 126, 126);

        &:hover {
            color: white !important;
            background-color: rgb(126, 126, 126) !important;
            border-color: rgb(126, 126, 126) !important;
        }
    }
}