@import "../styles/sizes.scss";

body {
    width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.flex {display: flex;}
.flex-v {display: flex; flex-direction: column;}
.grid {display: grid;}
.gap-10 {gap: 10px; grid-gap: 10px;}
.gap-20 {gap: 20px; grid-gap: 20px;}

.app_container {
    display: grid;
    grid-gap: 0 24px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 116px 1fr;
    width: 100vw;
    height: 100vh;
    padding: 10px;

    @media screen and (min-width: $sm) {
        padding: 0 24px;
    }
    @media screen and (min-width: $md) {
        padding: 0 32px;
    }
    @media screen and (min-width: $lg) {
        margin-left: auto;
        margin-right: auto;
    }
}
