.header {
    display: flex;
    gap: 0 20px;
    // justify-content: space-between;

    .title, .menu {
        flex: 1;
    }
    .brand, .title, .menu {
        display: flex;
        align-items: center;
    }
    .menu {
        place-content: end;
    }

    .title_text {
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1;
    }

    .menu {
        & > * {
            margin-left: 10px;
            &:first-child {
                margin-left: 0;
            }
        }
    }
}