.table-header {
    display: flex;
    align-items: center;
    place-content: space-between;

    .table-header-tools {
        display: flex;
        align-items: center;
    }
}
.p-filter-column {
    input, .p-multiselect {
        width: 100%;
    }
}
.p-sortable-column {
    padding-right: 40px !important;
    position: relative;
}
.p-sortable-column-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
}
.row_controls {
    display: flex;
    align-items: center;
    gap: 8px;
    user-select: none;
}
.p-column-title {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: inline-block;
}
